<div class="main-header">
    <div class="logo">
        <img class="img-logo2" src="./assets/images/logo2.png" alt="">
    </div>

    <div class="menu-toggle" (click)="toggelSidebar()">
        <div></div>
        <div></div>
        <div></div>
    </div>

    <div class="d-flex align-items-center">
        <!-- Search bar -->
        <div class="search-bar">
            <input type="text" placeholder="Search" (focus)="searchService.searchOpen = true">
            <i class="search-icon text-muted i-Magnifi-Glass1"></i>
        </div>
    </div>

    <div style="margin: auto"></div>

    <div class="header-part-right">
        <i fullScreenWindow class="i-Full-Screen header-icon d-none d-sm-inline-block" role="button"></i>
        <ng-template [ngIf]="showAlly">
        <div ngbDropdown [placement]="'bottom-right'" class="user col align-self-end">
            <img [src]="ally.avatar" id="userDropdown" ngbDropdownToggle alt="">

            <div ngbDropdownMenu aria-labelledby="userDropdown" class="header-account-dropdown">

                <div class="dropdown-header">
                    <i class="i-Lock-User mr-1"></i> {{ ally.name }}
                </div>

                <button class="dropdown-item" (click)="signout()">Sign out</button>
            </div>
        </div>
        </ng-template>
    </div>

</div>