<div class="row">

    <div class="col-md-3" *ngFor="let celebrity of celebrities$ | async">
        <div class="card card-profile-1 mb-4">
            <div class="card-body text-center">
                <div class="avatar box-shadow-2 mb-3">
                    <img [src]="celebrity.avatar" alt="">
                </div>
                <h5 class="m-0">{{ celebrity.nombre }}</h5>
                <p class="mt-0"></p>
                <p></p>
                <div class="card-socials-simple mt-4">
                    <a [href]="'https://www.instagram.com/'+ celebrity.instagram" *ngIf="celebrity.instagram">
                        <i class="i-Instagram"></i>
                    </a>
                    <a [href]="'https://www.facebook.com/'+ celebrity.facebook" *ngIf="celebrity.facebook">
                        <i class="i-Facebook-2"></i>
                    </a>
                    <a [href]="'https://www.twitter.com/'+ celebrity.twitter" *ngIf="celebrity.twitter">
                        <i class="i-Twitter"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>