<div>
    <div class="breadcrumb">
        <h1>Filter</h1>
        <ul>
            <li><a href="#">Famosos</a></li>
            <li>Sugeridos</li>
        </ul>
    </div>

    <div class="separator-breadcrumb border-top"></div>

    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <input id="email" placeholder="Search Products" [formControl]="searchControl" class="form-control form-control-rounded" type="email">
            </div>
        </div>
        <div class="col-md-8">
            <div class="float-right">
                <button class="btn btn-primary float-right" [routerLink]="['/celebrity/suggested/new']">Sugerir Famoso</button>
            </div>
        </div>
        <div class="col-md-12">
            <div class="card  o-hidden">
                <ngx-datatable
                        style="height: 500px; box-shadow: none"
                        class="material fullscreen"
                        [columnMode]="'force'"
                        [headerHeight]="50"
                        [footerHeight]="50"
                        [rowHeight]="60"
                        [scrollbarV]="true"
                        [rows]="filteredProducts">
                    <ngx-datatable-column name="name">
                        <ng-template ngx-datatable-header-template>
                            Nombre
                        </ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column name="email" [width]="300">
                        <ng-template ngx-datatable-header-template>
                            Email
                        </ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column name="status">
                        <ng-template ngx-datatable-header-template>
                            Estado
                        </ng-template>
                        <ng-template ngx-datatable-cell-template let-value="value" let-row="row">
                            Activo
                        </ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column name="instagram">
                        <ng-template ngx-datatable-header-template>
                            Instagram
                        </ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column name="facebook">
                        <ng-template ngx-datatable-header-template>
                            Facebook
                        </ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column name="twitter">
                        <ng-template ngx-datatable-header-template>
                            Twitter
                        </ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column name="youtube">
                        <ng-template ngx-datatable-header-template>
                            Youtube
                        </ng-template>
                    </ngx-datatable-column>
                </ngx-datatable>
            </div>
        </div>
    </div>
</div>
