<div class="card mb-12">
    <div class="card-body">
        <div class="card-title">Top venta de la semana</div>
        <div class="d-flex flex-column flex-sm-row align-items-sm-center mb-3">
            <img class="avatar-lg mb-3 mb-sm-0 rounded mr-sm-3" src="./assets/images/products/headphone-4.jpg" alt="">
            <div class="flex-grow-1">
                <h5 class=""><a href="">Wireless Headphone E23</a></h5>
                <p class="m-0 text-small text-muted">Lorem ipsum dolor sit amet consectetur.</p>
                <p class="text-small text-danger m-0">$450</p>
            </div>
            <div>
                <button class="btn btn-outline-primary mt-3 mb-3 m-sm-0 btn-rounded btn-sm">View details</button>
            </div>
        </div>
        <div class="d-flex flex-column flex-sm-row align-items-sm-center mb-3">
            <img class="avatar-lg mb-3 mb-sm-0 rounded mr-sm-3" src="./assets/images/products/headphone-2.jpg" alt="">
            <div class="flex-grow-1">
                <h5 class=""><a href="">Wireless Headphone Y902</a></h5>
                <p class="m-0 text-small text-muted">Lorem ipsum dolor sit amet consectetur.</p>
                <p class="text-small text-danger m-0">$550</p>
            </div>
            <div>
                <button class="btn btn-outline-primary mt-3 mb-3 m-sm-0 btn-sm btn-rounded">View details</button>
            </div>
        </div>
        <div class="d-flex flex-column flex-sm-row align-items-sm-center mb-3">
            <img class="avatar-lg mb-3 mb-sm-0 rounded mr-sm-3" src="./assets/images/products/headphone-3.jpg" alt="">
            <div class="flex-grow-1">
                <h5 class=""><a href="">Wireless Headphone E09</a></h5>
                <p class="m-0 text-small text-muted">Lorem ipsum dolor sit amet consectetur.</p>
                <p class="text-small text-danger m-0">$250</p>
            </div>
            <div>
                <button class="btn btn-outline-primary mt-3 mb-3 m-sm-0 btn-sm btn-rounded">View details</button>
            </div>
        </div>
        <div class="d-flex flex-column flex-sm-row align-items-sm-center mb-3">
            <img class="avatar-lg mb-3 mb-sm-0 rounded mr-sm-3" src="./assets/images/products/headphone-4.jpg" alt="">
            <div class="flex-grow-1">
                <h5 class=""><a href="">Wireless Headphone X89</a></h5>
                <p class="m-0 text-small text-muted">Lorem ipsum dolor sit amet consectetur.</p>
                <p class="text-small text-danger m-0">$450</p>
            </div>
            <div>
                <button class="btn btn-outline-primary mt-3 mb-3 m-sm-0 btn-sm btn-rounded">View details</button>
            </div>
        </div>
    </div>
</div>
