<div class="breadcrumb">
    <h1>Famosos</h1>
    <ul>
        <li><a href="">Sugeridos</a></li>
        <li>Nuevo</li>
    </ul>
</div>

<div class="separator-breadcrumb border-top"></div>

<div class="row">
    <form [formGroup]="formBasic" (ngSubmit)="submit()">

        <div class="col-md-12">
            <input #imageUpload hidden type="file" id="fileupload" #imageUpload (change)="imageUploadEvent($event)"
                accept="image/gif, image/jpeg, image/png" />
            <button class="btn btn-primary mb-3" type="button" (click)="imageUpload.click()">Cargar foto</button>
            <section class="mb-5">
                <image-cropper (getImage)="getImage($event)" [src]="croppieImage"></image-cropper>
            </section>
        </div>
        <div class="col-md-12">
            <div class="card mb-4">
                <div class="card-body">
                    <div class="card-title mb-3">Ingresar Famoso</div>
                    <div class="row">
                        <div class="col-md-6 form-group mb-3">
                            <label for="name">Nombre</label>
                            <input type="text" class="form-control" formControlName="nombre" id="name"
                                placeholder="Enter name">
                        </div>

                        <div class="col-md-6 form-group mb-3">
                            <label for="exampleInputEmail1">Correo</label>
                            <input type="email" class="form-control" id="exampleInputEmail1"
                                aria-describedby="emailHelp" formControlName="email" placeholder="Enter email">
                        </div>

                        <div class="col-md-6 form-group mb-3">
                            <label for="phone">Teléfono</label>
                            <input class="form-control" id="phone" formControlName="telefono" placeholder="Enter phone">
                        </div>

                        <div class="col-md-6 form-group mb-3">
                            <label for="instagram">Instagram</label>
                            <input class="form-control" id="instagram" formControlName="instagram"
                                placeholder="Instagram">
                        </div>

                        <div class="col-md-6 form-group mb-3">
                            <label for="facebook">Facebook</label>
                            <input class="form-control" id="facebook" formControlName="facebook" placeholder="Facebook">
                        </div>

                        <div class="col-md-6 form-group mb-3">
                            <label for="twitter">Twitter</label>
                            <input class="form-control" id="twitter" formControlName="twitter" placeholder="Twitter">
                        </div>

                        <div class="col-md-6 form-group mb-3">
                            <label for="youtube">Youtube</label>
                            <input class="form-control" id="youtube" formControlName="youtube" placeholder="Youtube">
                        </div>

                        <div class="col-md-12">
                            <btn-loading btnClass="btn-primary btn-rounded" [loading]="loading">Submit</btn-loading>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>